pandas 
mlflow==2.2.2
notebook
numpy
scikit-learn
matplotlib
#for visualisation
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
#for web application
Flask-Cors
-e .
#it will look for setup.py file(where local package installation happens)